/**
 * Uniform margin top for all nested elements
 * Typgraphy
 */
p {
    margin: 0;
}
* + *,
p + p {
    margin-top: 1.5em;
}
body {
    font-size: 1em;
    line-height: 1.4em;
}
abbr,
acronym {
    border-bottom: 0.1em dotted;
    cursor: help;
}
abbr:hover {
    background-color: LemonChiffon;
}
ins {
    background-color: PaleGreen;
}
del {
    background-color: LightPink;
}

blockquote {
    margin: 1.5em 1em;
    padding: 1.5em 1em;
    font-size: 1.2em;
    font-style: italic;
    border-left: .8em solid #ccc;
}
blockquote p:before,
blockquote p:after {
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    color: #aaa;
}
blockquote p {
    display: inline;
}
blockquote footer {
    color: #aaa;
    font-style: normal;
    font-size: 0.75em;
}
